.hidden {
    display: none;
}

body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    font-family: Georgia, 'Times New Roman', Times, serif
}

input {
    font-family: Georgia, 'Times New Roman', Times, serif
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif
}